<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:hz="http://www.hazelcast.com/schema/spring"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
	     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.hazelcast.com/schema/spring https://hazelcast.com/schema/config/hazelcast-spring-3.1.xsd">
		
	<hz:hazelcast id="hazelcastInstance">
		<hz:config>
			<hz:network port="5701" port-auto-increment="false">
				<hz:join>
					<hz:multicast enabled="true" multicast-group="224.2.2.3"
						multicast-port="54327" />
					<hz:tcp-ip enabled="false"/>
				</hz:join>
			</hz:network>
		</hz:config>
	</hz:hazelcast>
</beans>