<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:http="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	<bean id="myHttpFirewall"
		class="org.springframework.security.web.firewall.DefaultHttpFirewall">
	</bean>
	<sec:http-firewall ref="myHttpFirewall" />
	<sec:http auto-config="true" use-expressions="true" pattern="/**">
		<!-- Enables Spring Security CSRF protection -->
		<sec:csrf disabled="true" />
		<!-- Configures the form login -->
		<sec:form-login login-page="/login"
			login-processing-url="/login/authenticate"
			authentication-failure-url="/login?error=bad_credentials"
			username-parameter="username" password-parameter="password" />
		<!-- Configures the logout function -->
		<sec:logout logout-url="/logout" logout-success-url="/login"
			delete-cookies="JESSIONID" />
		<!-- Anyone can access these urls -->
		<sec:intercept-url pattern="/login" access="permitAll" />
		<sec:intercept-url pattern="/register/**" access="permitAll" />
		<!-- The rest of our application is protected. -->
		<sec:intercept-url pattern="/**"
			access="hasRole('ROLE_PREMIUM_USER')" />
	</sec:http>
	<!-- Configures the authentication manager bean which processes authentication 
		requests. -->
	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider ref="hmacAuthenticationProvider" />
		<sec:authentication-provider
			user-service-ref="accountUserDetailsService">
			<sec:password-encoder ref="passwordEncoder" />
		</sec:authentication-provider>
	</sec:authentication-manager>
	<!-- This is used to hash the password of the user. -->
	<bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<constructor-arg index="0" value="10" />
	</bean>
</beans>